.footer {
    background-color: #2F303A;
    padding-top: 60px;
    padding-bottom: 60px;

&__block {
    display: flex;
    align-items: baseline;
}

&__block_main {
    display: block;
}

&__address {
    text-decoration: none;
    font-style: normal; 
}

&__address_text {
    display: inline-block;
    text-decoration: none;
    font-style: normal;
    color: #FFFFFF;
    font-size: 14px;
    line-height: 1.71;
    margin-bottom: 9px;
}

&__address_mail {
    display: inline-block;
    text-decoration: none;
    font-style: normal;
    color: rgba(255, 255, 255, 0.6);
    font-size: 14px;
    line-height: 1.71;
    margin-bottom: 9px;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

&__address_tel {
    display: inline-block;
    text-decoration: none;
    font-style: normal;
    color:rgba(255, 255, 255, 0.6);
    font-size: 14px;
    line-height: 1.71;
}

&__logo {
    color: #FFFFFF;
    display: inline-block;
    
    font-family: $secondary-font;
    font-weight: 700;
    font-size: 26px;
    
    line-height: 1.19;
    letter-spacing: 0.03em;
    
    text-decoration: none;

    margin-bottom: 20px;
}

&__logo_text {
        color: #2196F3;
    }

&__social_block {
    display: block;
    width: 206px;
    height: 80px;
    margin-left: 70px;
}
}

.link {
    text-decoration: none;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);

    &:hover, &:focus {
    color: $accent-color;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
}



// &__social_title {
//     display: inline-flex;
//     font-weight: 700;
//     font-size: 14px;
//     line-height: 1.14;
//     letter-spacing: 0.03em;
//     color: $primary-white-color;
//     text-transform: uppercase;
//     margin: 0;
// }

// &__social_media {
//     display: flex;
//     justify-content: center;
//     align-items: center;
//     margin-top: 20px;
// }

// &__joinus {
//     padding: 0;
//     margin-right: 10px;
// }

// &__joinus_social-item {
//     padding: 0;
//     margin-right: 10px;
    
//     &:last-child {
//     margin-right: 0;
// }
// }

// &__joinus_social-link {
//     // justify-content: center;
//     // align-items: center;
//     height: 44px;
//     width: 44px;
//     border-radius: 50%;
//     background-color: rgba(255, 255, 255, 0.1); 
//     color: $primary-white-color;
//     cursor: pointer;
    
//     &:hover, :focus {
//     background-color: $accent-color;
//     color: $primary-white-color;
//     transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
// }
// }


// &__joinus_social-icon {
//     fill: currentColor;
// }

// &__nav {
//     margin: 0;
// }



// }

// .link {
//     text-decoration: none;
//     transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    
//     &:hover, :focus {
//     color: $accent-color;
//     transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
// }