.footer {
background-color: #2F303A;
padding-top: 60px;
padding-bottom: 60px;
}

.footer__block {
display: flex;
flex-wrap: wrap;
align-items: baseline;
justify-content: center;
gap: 60px;

// Tablets screen 768px &
@media screen and (min-width: 768px) {
gap: 60px 160px;
}

// Desktop screen 1200px &
@media screen and (min-width: 1200px) {
align-items: baseline;
flex-wrap: nowrap;
gap: 0;
}
}

// .footer__block_main {
// display: block;
// }

.footer__logo {
    color: #FFFFFF;
    display: flex;
    justify-content: center;
    
    font-family: $secondary-font;
    font-weight: 700;
    font-size: 26px;
    
    line-height: 1.19;
    letter-spacing: 0.03em;
    
    text-decoration: none;

    margin-bottom: 20px;

// Desktop screen 1200px &
@media screen and (min-width: 1200px) {
    display: inline-block;
    align-self: center;
}
}

.footer__logo_text {
        color: #2196F3;
    }

.footer__nav {
display: block;
text-align: center;

// Desktop screen 1200px &
@media screen and (min-width: 1200px) {
text-align: left;
}
}

.footer__address_text {
    display: inline-block;
    text-decoration: none;
    font-style: normal;
    color: #FFFFFF;
    font-size: 14px;
    line-height: 1.71;
    margin-bottom: 9px;
}

.footer__address_mail {
    display: inline-block;
    text-decoration: none;
    font-style: normal;
    color: rgba(255, 255, 255, 0.6);
    font-size: 14px;
    line-height: 1.71;
    margin-bottom: 9px;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footer__address_tel {
    display: inline-block;
    text-decoration: none;
    font-style: normal;
    color:rgba(255, 255, 255, 0.6);
    font-size: 14px;
    line-height: 1.71;
}

.footer__social_block {
    display: inline;
    width: 206px;
    height: 80px;
    margin-left: 0px;

    // Desktop screen 1200px &
@media screen and (min-width: 1200px) {
    margin-left: 70px;
    }
}

.link {
    text-decoration: none;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);

    &:hover, &:focus {
    color: $accent-color;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
}