// Mobile screen 480px &
.header {
border-bottom: 1px solid #ECECEC;
width: 480px;
height: 60px;

// Tablets screen 768px &
@media screen and (min-width: 768px) {
width: 768px;
height: 80px;
}

// Desktop screen 1200px &
@media screen and (min-width: 1200px) {
width: auto;
height: 80px;
}
}  

// Mobile screen 480px &
.main-nav {
display: flex;
width: 480px;
height: 60px;
align-items: center;

// Tablets screen 768px &
@media screen and (min-width: 768px) {
width: 768px;
height: 80px;
}

// Desktop screen 1200px &
@media screen and (min-width: 1200px) {
width: 1200px;
height: 80px;
}
}

.header__logo {
// Mobile screen 480px &
color: #000000;
                
font-family: $secondary-font;
font-weight: 700;
font-size: 26px;
                
line-height: 1.19;
letter-spacing: 0.03em;
            
padding-top: 16px;
padding-bottom: 16px;
                
text-decoration: none;

// Tablets screen 768px &
@media screen and (min-width: 768px) {
padding-top: 26px;
padding-bottom: 26px;
}

// Desktop screen 1200px &
@media screen and (min-width: 1200px) {
padding-top: 26px;
padding-bottom: 26px;
}
}
            
.header__logo_text {
color: #2196F3;
}

.header__site-nav {
// Mobile screen 480px &
display: none;

// Tablets screen 768px &
@media screen and (min-width: 768px) {
display: flex;
margin-left: 87px;
}
    
// Desktop screen 1200px &
@media screen and (min-width: 1200px) {
margin-left: 93px;
}
}
    
.header__site-nav_item {
// Mobile screen 480px &
margin-left: 50px;
        
&:first-child {
margin-left: 0;
}

// Tablets screen 768px &
@media screen and (min-width: 768px) {
margin-left: 50px;
}
        
// Desktop screen 1200px &
@media screen and (min-width: 1200px) {
margin-left: 93px;
}
}
    
.header__contacts {
// Mobile screen 480px &
display: none;
margin-left: auto;
justify-content: center;
align-items: center;

// Tablets screen 768px &
@media screen and (min-width: 768px) {
display: inline;
margin-left: auto;
justify-content: center;
align-items: center;
}
            
// Desktop screen 1200px &
@media screen and (min-width: 1200px) {
display: flex;
margin-left: auto;
justify-content: center;
align-items: center;
}
}
    
.header__contacts_item {
// Mobile screen 480px &
margin-left: 50px;

// Tablets screen 768px &
@media screen and (min-width: 768px) {
margin-left: 0px;
}
                
// Desktop screen 1200px &
@media screen and (min-width: 1200px) {
margin-left: 50px;
}

}
    
.header__contacts_icons {
// Mobile screen 480px &
align-self: center;
margin-right: 10px;
fill: currentColor;

// Tablets screen 768px &
@media screen and (min-width: 768px) {
}
                    
// Desktop screen 1200px &
@media screen and (min-width: 1200px) {
}
}
    
.site-nav_link {
// Tablets screen 768px &
position: relative;
color: $title-text-color;;
        
font-weight: 500;
font-size: 14px;
        
line-height: 1.14;
letter-spacing: 0.02em;
        
display: inline-flex;
        
padding-top: 10px;
padding-bottom: 10px;
        
text-decoration: none;
transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    
&:hover {
color: $accent-color;
transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
    
&:focus {
color: $accent-color;
transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

// Desktop screen 1200px &
@media screen and (min-width: 1200px) {
padding-top: 32px;
padding-bottom: 32px;
}
}
    
.site-nav_link.current {
color: $accent-color;
}
    
    
.site-nav_link.current::after {
content: '';
        
position: absolute;
display: inline-block;
        
height: 4px;
width: 100%;
        
left: 0;
bottom: 0;
margin-bottom: -1px;
        
border-radius: 2px;
background-color: $accent-color;
}
    
.contacts_link {
color: $primary-text-color;
font-weight: 500;
font-size: 14px;
            
line-height: 1.14;
letter-spacing: 0.02em;
            
display: inline-flex;
            
padding-top: 10px;
padding-bottom: 10px;
            
text-decoration: none;
transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
        
&:hover {
color: $accent-color;
transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
        
&:focus {
color: $accent-color;
transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

// Desktop screen 1200px &
@media screen and (min-width: 1200px) {
padding-top: 32px;
padding-bottom: 32px;
}
}