.section {
    color: $primary-text-color;
    padding-top: 94px;
    padding-bottom: 94px;
}

.section-portfolio {
    padding-bottom: 94px;
}

.section-grey {
    background-color: $secondary-bg-color;
    padding-top: 94px;
    padding-bottom: 94px;
}