%button {
    background-color: #F5F4FA;
    font-size: 16px;
    line-height: 1.6;
    text-align: center;
    letter-spacing: 0.03em;
    border: 0 solid;
    border-radius: 4px;
    cursor: pointer;
}