$primary-font: "Roboto", sans-serif;
$secondary-font: "Raleway", sans-serif;

$primary-text-color: #757575;
$title-text-color: #212121;
$accent-color: #2196F3;
$primary-white-color: #FFFFFF;
$secondary-bg-color: #F5F4FA;
$icons-color: #AFB1B8;
$border-color: #AFB1B8;